html {
    min-height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#weather-content {
    border: 1px solid black;
    padding: 8px;
    border-radius: 8px;
    margin: 16px;
}